@font-face {
    font-family: pizarra;
    src: url(../fonts/KGSecondChancesSketch.ttf);
}

@font-face {
    font-family: kiki;
    src: url(../fonts/Angelique-Rose-font-FFP.otf);
}

@font-face {
    font-family: typo;
    src: url(../fonts/Typo_Round_Light_Demo.otf);
}


body {
  color: #FFF;
  padding-top: 50px;
  background-image: url("../img/wood_planks.jpg");
}

h2 {
  color: #FFF;
  font-family: pizarra;
  text-align: center;
}

h2::before{
content: url('../img/divider.png');
display: block;
}

h3 {
  font-family: kiki;
  color: #FFF;
}

h4 { 
  color: #111;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  width: 100%;
  height: auto;
}


#navbar-container{
  padding-top: 0;
  padding-bottom: 0;
}

.navbar {
  margin-bottom: 0;
  border: 0;
  opacity: 0.9;
  width: 100%;
}

.navbar li a, .navbar .navbar-brand, .navbar-toggle {
    font-family: Montserrat, sans-serif;
    font-size: 11px;
    letter-spacing: 4px;
}

html,
body{
    height: 100%;
}

.mycarousel{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mySlides{
    height: 100%;
}

.mySlides{
    width: 100%;
    height: 100%;  
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.main-entrance-row{
  position: relative;
  width: 100%;
  height: calc(100% - 44px);
}

.banderas{
  top: 0;
  margin: auto;
  max-width: 60%;
  height: auto;
  display: block;
  position: absolute;
  left: 20%;
}
.main-entrance-row img,
.main-entrance-row object{
  margin: auto;
  display: block;
}


#portada{width: 100%;}

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    .col-xxs-12{
        width: 100%;
    }.col-xxs-6{
        width: 50%;
    }
    .xxs-bottom{
      padding-top: 20%;
      max-height: 60%;
    }
}

.shadow{
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12,Color='#444')";
  filter: url(#drop-shadow);
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
  filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
}




.btn-sample { 
  color: #FFFFFF; 
  background-color: #7f463c; 
  border-color: #7f463c; 
} 
 
.btn-sample:hover, 
.btn-sample:focus, 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  color: #FFFFFF; 
  background-color: #ff9e7a; 
  border-color: #7f463c; 
} 
 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  background-image: none; 
} 
 
.btn-sample.disabled, 
.btn-sample[disabled], 
fieldset[disabled] .btn-sample, 
.btn-sample.disabled:hover, 
.btn-sample[disabled]:hover, 
fieldset[disabled] .btn-sample:hover, 
.btn-sample.disabled:focus, 
.btn-sample[disabled]:focus, 
fieldset[disabled] .btn-sample:focus, 
.btn-sample.disabled:active, 
.btn-sample[disabled]:active, 
fieldset[disabled] .btn-sample:active, 
.btn-sample.disabled.active, 
.btn-sample[disabled].active, 
fieldset[disabled] .btn-sample.active { 
  background-color: #7f463c; 
  border-color: #7f463c; 
} 
 
.btn-sample .badge { 
  color: #7f463c; 
  background-color: #FFFFFF; 
}

.thumbnail{
  background-color: transparent;
  border: 0;
  color: #FFF;
}

.caption {
  margin-top: 10px;
    box-shadow: 0 0 30px black;
  text-align: center;
}


.caption p{
  font-family: typo;
  color: #FFF;
}

.main-row{
  min-height: calc(100vh - 50px);
  background-image: url("../img/chalkboard-black.jpg");
  background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-bottom: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 30px black;
    border-radius: 25px;
}

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

footer {
  background-color: #2d2d30;
  color: #f5f5f5;
  padding: 32px;
}
footer a {
  color: #f5f5f5;
}
footer a:hover {
  color: #777;
  text-decoration: none;
}  
.form-control {
  border-radius: 0;
}
textarea {
  resize: none;
}

#heart {
  position: absolute;
  left: 80px;
  width: auto;
  height: 100%;
  animation: heartbeat 4s infinite;
}

#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 25px;
  top: 0;
  width: 25px;
  height: 40px;
  background: red;
  -moz-border-radius: 25px 25px 0 0;
  border-radius: 25px 25px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

#heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

@keyframes heartbeat {
  0% {
    transform: scale( .5);
  }
  20% {
    transform: scale( 0.75);
  }
  40% {
    transform: scale( .75);
  }
  60% {
    transform: scale( 0.75);
  }
  80% {
    transform: scale( .5);
  }
  100% {
    transform: scale( .5);
  }
}

.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
  border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
  margin-bottom: -1px;
}
/********************************************************************/
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
  background-color: #ddd;
  border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
  color: #555;
  background-color: #fff;
  border-color: #ddd;
  border-bottom-color: transparent;
}

.panel-default{
  background-color: transparent;
}
/*.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}*/
